{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Resume - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/resume.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Mpho Shea</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/profile.jpg' %}" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <div>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog-home' %}">Home <i class="fas fa-home"></i></a>
        </li>
      </div>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Shea
          <span class="text-secondary">Mpho</span>
        </h1>
        <div class="subheading mb-5">Likhoele Makeneng · Mafeteng, Box 946 · (+266) 5816 4135 ·
          <a href="mailto:name@email.com"><span class="text-success">sheampho@gmail.com</span></a>
        </div>
        <p class="lead mb-5">Desirous of an IT Web Development role in a challenging workplace that welcomes
          Innovative ideas and offers growth opportunities and positive environment for accomplishing
          projects. Hold BSC(Hon) Information Technology from Limkokwing University of Creative Technology.
       </p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/mpho-shea-8b4475161/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/SheaEvra">
            <i class="fab fa-github"></i>
          </a>
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://web.facebook.com/portiaevra">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Senior Web Developer</h3>
            <div class="subheading mb-3">Lost and found (PTY) Ltd.</div>
            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">November 2019 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Senior Web Developer</h3>
            <div class="subheading mb-3">Tgee Innovations </div>
            <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2015 - December 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Technical sales engineer</h3>
            <div class="subheading mb-3">Econet Telecom Lesotho</div>
            <p>Technical sales engineers are the key point of contact for clients, answering queries, providing technical advice and introducing new products and services.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">March 2013 - April 2017</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Limkokwing University of Creative Technology</h3>
            <div class="subheading mb-3">BSC(hon) Information Technology</div>
            <p>GPA: 3.14</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">August 2008 - September 2012</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Mout Tabor High School</h3>
           <b>JC</b>
            <p>1st Class</p>
            <b>C.O.S.C</b>
            <p>2nd Class</p>
          </div>

          <div class="resume-date text-md-right">
            <span class="text-primary">February 2003 - November 2007</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">Likhoele Primary School</h3>
           <b>PLSE</b>
            <p>2nd Class</p>
          </div>

          <div class="resume-date text-md-right">
            <span class="text-primary">February 1995 - November 2002</span>
          </div>
        </div>

      </div>
    </section>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-python"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-java"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-php"></i>
          </li>

        </ul>
        <div class="subheading mb-3"><small>Frameworks</small></div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-dot"></i>
            Django</li>
          <li>
          <li>
            <i class="fa-li fa fa-dot"></i>
            Laravel</li>
          <li>
            <i class="fa-li fa fa-tick"></i>
            Yii2</li>
          <li>

          <li>
            <i class="fa-li fa fa-doted"></i>
            Codeigniter</li>
          <li>

        </ul>
        <div class="subheading mb-3">Other Skills</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Computer System support</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Mysql Database Design</li>
          <li>

          <li>
            <i class="fa-li fa fa-check"></i>
            Web Design</li>
          <li>

        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy playing Chess and Football.</p>
      </div>
    </section>

    <hr class="m-0">


  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/resume.min.js' %}"></script>

</body>

</html>
