{% extends "blog/base.html" %}
{% block content %}
   <div class="content-section">
       <form method="POST" enctype="multipart/form-data">
           {% csrf_token %}
           <fieldset class=" form-group">
               <legend class="border-bottom mb-4">Post Delete </legend>
               <small><font color="red">Are you sure you want to delete the post {{ object.title }}</font></small>

           </fieldset>
           <div class="form-group">
               <button class="btn btn-outline-danger" type="submit">yes, delete<div class="container"><i class="fas fa-trash"></i></div></button>
               <a class="btn btn-outline-secondary" href="{% url 'post-detail' post.id %}">No, take me back<div class="container"><i class="fas fa-window-close"></i></div></a>
           </div>
       </form>

   </div>

{% endblock content %}
